<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body style="background-color:#AFE7FF">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand offset-md-1" href="/main">
            <img src="images/logowhite.jpg" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newcard">New Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cards</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Transactions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Convert currency</a></li>
                        <li><a class="dropdown-item" href="#">Send money</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Want some money?</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/version">Versions</a>
                </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<figure class="figure position-relative start-50 translate-middle-x mt-3 w-50 p-3" style="margin: auto;">
    <img src="images/team2.jpg" class="figure-img img-fluid rounded" alt="BluTeam">
    <figcaption class="figure-caption ">Our BluBank team.</figcaption>
</figure>
<div class="mt-2 mb-3 position-relative start-50 translate-middle-x w-75 p-3 rounded-3"
     style="background: #FFFFFF; border-left:5px solid #8488FF">
    <p>BLU (Builders League United) is a subsidiary of TF Industries, which allegedly specializes in "construction
        operations". In reality, from behind a myriad of sub-fronts, it secretly controls half the world's governments,
        led by founder and CEO Blutarch Mann. Beneath the convincing exterior of their bases of operations can be found
        computer racks, satellites, rockets, and missile installations.</p>

    <p>The other half of the world is just as secretly controlled by their rivals, RED (Reliable Excavation
        Demolition). Each corporation administers its half of the world with a multi-disciplined army of paper pushers.
        For any problem lacking an obvious bureaucratic solution, mercenaries are contracted to address the situation
        through a massive application of force. Conflicts between the two companies began as land disputes between their
        leaders and have continued for about a century to the present day.</p>

    <p>BLU and RED share an intense rivalry, with nearly all encounters between the two quickly escalating into brutal
        and often fatal violence. Inter-company friendship is also strictly forbidden by contract. Despite this, the BLU
        Soldier and the RED Demoman at one time became fast friends after meeting each other at a projectile weapons
        expo. Once this was brought to the attention of the Administrator, however, she pitted them against each other
        in a deadly competition that promised a mysterious new item to the winner, twisting their former friendship into
        a bloody war.</p>
</div>
<div class="mt-3 mb-3 position-relative start-50 translate-middle-x w-75 p-3 rounded-3"
     style="background: #FFFFFF; border-left:5px solid #FF9932">
    <h5><strong>Ok, jokes aside.</strong></h5>
    <p>That was a quote from wikipedia. This is a non-commercial diploma project for <a href=https://www.prog.kiev.ua/>prog.kiev.ua</a>,
        that is being done by me, <a href=https://www.linkedin.com/in/viacheslav-yakovenko/> Viacheslav Yakovenko</a>,
        as an addition to my portfolio.
    </p>
    <p>Special thanks to my mentors, <a href=https://dou.ua/users/vsvld-thebios/>Vsevolod Ievgiienko</a> and <a
            href=https://dou.ua/users/aleksandr-tsyimbalyuk/> Aleksandr Tsyimbalyuk</a>. </p>

</div>
<div class="mt-3 mb-4 position-relative start-50 translate-middle-x w-75 p-3 rounded-3"
     style="background: #FFFFFF; border-left:5px solid red">
    <h5><strong>Warning!</strong></h5>
    <p>This is <strong>NOT</strong> a real bank. Please, do not use any given cards from this site for payment purposes.
    </p>
</div>
<script src="js/bootstrap.js"></script>
</body>
</html>