<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="Content-Type">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Sign in</title>
</head>
<body style="background: #49A3B7">

<div class="text-center mt-5">
    <form action="/j_spring_security_check" method="post" style="max-width: 480px;margin: auto;" >
        <img class="mt-4 mb-4" src="images/blulogo.jpg" height="200" alt="Blubank logo">
        <h1 class="h3 font-weight-normal" style="color: #FFFFFF">Sign in</h1>
        <input type="text" name = "login" class="form-control mb-1" placeholder="Email Address" required autofocus>
        <input type="password" name = "password" class="form-control mb-1" placeholder="Password" required autofocus>
        <form style="max-width: 340px;margin: auto;">
            <div class="row justify-content-center">
                <div style="color:#2CDD32" class="mb-1">
                    <td th:text="${successRegistration} ? 'Registration was successful!' : ''"></td>
                </div>
                <div style="color:#FFFF00">
                    <td th:text="${error} ? 'Wrong login or password. Please, try again.' : ''"></td>
                    <td th:text="${logout} ? 'Logout was successful.' : ''"></td>
                </div>
            </div>
            <button class="btn btn-lg btn-outline-light btn-block col-10 mt-2">Sign in</button>
        </form>
    </form>
    <form action="/registerUser" style="max-width: 480px;margin: auto;">
        <button class="btn btn-lg btn-outline-light btn-block mt-2 col-8">Register</button>
    </form>
    <button type="button" class="mt-2 btn btn-outline-light">Forgot password?</button>
    <p class="h6 font-weight-normal mt-2 " style="color: #FFFFFF; margin: auto;">Pre-alpha v0.5</p>
</div>

<script src="js/bootstrap.js"></script>
</body>
</html>

