<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>My Cards</title>
</head>
<body style="background-color:#AFE7FF">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand offset-md-1" href="/main">
            <img src="images/logowhite.jpg" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newcard">New Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/mycards">My Cards</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Transactions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Convert currency</a></li>
                        <li><a class="dropdown-item" href="#">Send money</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Want some money?</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/version">Versions</a>
                </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<table class="table bg-light table-striped position-relative start-50 translate-middle-x mt-3 w-50 p-3 rounded-3">
    <thead>
    <tr>
        <td><b>Card number</b></td>
        <td><b>CVC</b></td>
        <td><b>Expiry date</b></td>
        <td><b>Card type</b></td>
        <td><b>Balance</b></td>
    </tr>
    </thead>

    <tr th:each="card : ${cards}">
            <div th:if="${card.type == T(com.blubank.entity.Card.CardType).RED}">
                <td th:text="${card.number}" class="table-danger"></td>
                <td th:text="${card.cvc}" class="table-danger"></td>
                <td th:text="${card.expiryDate}" class="table-danger"></td>
                <td th:text="${card.type}" class="table-danger"></td>
                <td th:text="${card.balance}" class="table-danger"></td>
            </div>
        <div th:if="${card.type == T(com.blubank.entity.Card.CardType).BLU}">
            <td th:text="${card.number}" class="table-primary"></td>
            <td th:text="${card.cvc}" class="table-primary"></td>
            <td th:text="${card.expiryDate}" class="table-primary"></td>
            <td th:text="${card.type}" class="table-primary"></td>
            <td th:text="${card.balance}" class="table-primary"></td>
        </div>
        <div th:if="${card.type == T(com.blubank.entity.Card.CardType).GREEN}">
            <td th:text="${card.number}" class="table-success"></td>
            <td th:text="${card.cvc}" class="table-success"></td>
            <td th:text="${card.expiryDate}" class="table-success"></td>
            <td th:text="${card.type}" class="table-success"></td>
            <td th:text="${card.balance}" class="table-success"></td>
        </div>
    </tr>
</table>
<script src="js/bootstrap.js"></script>
</body>
</html>